/*c'est le css de book*/
.body_book{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    a{
    position: absolute;
    bottom: 0; 
    padding: 40px;
    }
}

table{
    border-collapse: collapse;
    background:white;
    border:1px solid #ccc;
    font-family: 'calibri';
}

tr{
    text-align: center;
}

th,td{
     border-top:1px solid #ddd;
     border-bottom:1px solid #ddd;
     padding: 15px 30px 20px;
     text-align: center;

}

.thbasic{
     background-color:  rgb(255, 0, 0);
     color: white;
     font-size: 20px; 
}
.thmedium{
    background-color: rgb(86, 86, 245);
    color: white;
    font-size: 20px; 
}
.thadvance{
  background-color: green;
  color: white;
  font-size: 20px; 
}

.butonstyle1 {
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.butonstyle1:hover {
  background-color:  rgb(240, 75, 75);
}

.butonstyle2 {
  background-color: rgb(86, 86, 245);
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.butonstyle2:hover {
  background-color: rgb(46, 46, 246);
}

.butonstyle3 {
  background-color: green;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.butonstyle3:hover {
  background-color:  rgb(4, 166, 4);
}


/*c'est le css de home*/
body{
    background-color: khaki;
}

header{
    background-color: aqua;
    height: 50px;
}